[submodule "pandoc/csl"]
	path = pandoc/csl
	url = git://github.com/citation-style-language/styles.git
[submodule "bin/notedown_filter"]
	path = bin/notedown_filter
	url = https://github.com/darothen/notedown_filter
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/darothen/dotfiles.git
