"*":
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
".fortran.free.source":
  editor:
    showIndentGuide: true
    showInvisibles: true
".fortran.modern.source":
  editor:
    showIndentGuide: true
"autocomplete-bibtex":
  bibtex: [
    "home/daniel/Dropbox_MIT/Papers/library.bib"
  ]
  resultTemplate: "citep{[key]}"
  scope: "text.tex.latex"
